@model xDC.Domain.Web.ISSD.TradeSettlementForm.TsLandingPage

@{
    ViewBag.Title = "ISSD - Trade Settlement";
}

<section class="content-header content-toolbar">
    @*<div class="row">
        <div class="col-md-3">
            <div class="kf1-info-box">
                <span class="kf1-info-box-icon kf1-bg-dark"><i class="fa fa-list"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Today's Submission</span>
                    <span class="info-box-number">@Model.CountTodaySubmission</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kf1-info-box">
                <span class="kf1-info-box-icon kf1-bg-orange"><i class="fa fa-clock-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pending Approval</span>
                    <span class="info-box-number">@Model.CountTodayPendingApproval</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kf1-info-box">
                <span class="kf1-info-box-icon kf1-bg-green"><i class="fa fa-thumbs-o-up"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Approved</span>
                    <span class="info-box-number">@Model.CountTodayApproved</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kf1-info-box">
                <span class="kf1-info-box-icon kf1-bg-red"><i class="fa fa-thumbs-o-down"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Rejected</span>
                    <span class="info-box-number">@Model.CountTodayRejected</span>
                </div>
            </div>
        </div>
    </div>*@
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
                @if (Model.EnableCreateForm)
                {
                    @(Html.DevExtreme().DropDownButton()
                        .ID("newFormBtn")
                        .Text("New Trade Settlement")
                        .Icon("plus")
                        .DropDownOptions(options => options.Width(230))
                        .StylingMode(ButtonStylingMode.Contained)
                    )
                }
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">

            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="submissionBox" class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Form Submission</h3>
                    <div class="box-tools pull-right">
                        <div style="display: inline-block">
                            <div id="filterStatusSb"></div>
                        </div>
                        <div style="display: inline-block">
                            <div id="filterformBtn"></div>
                        </div>
                        @(Html.DevExtreme().Button()
                            .ID("clearFilterGrid1Btn")
                            .Text("Clear Filter")
                            .Icon("fa fa-undo")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                    </div>
                </div>
                <div class="box-body">
                    <div id="issdGrid" class="grid-container"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="approvedBox" class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Approved Submission (Consolidated)</h3>
                    <div class="pull-right">

                        @(Html.DevExtreme().Button()
                            .ID("todayApprovedFilterBtn")
                            .Text("Today's Approved")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("audFilterBtn")
                            .Text("AUD")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("eurFilterBtn")
                            .Text("EUR")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("gbpFilterBtn")
                            .Text("GBP")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("myrFilterBtn")
                            .Text("MYR")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("usdFilterBtn")
                            .Text("USD")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("clearFilterGrid2Btn")
                            .Text("Clear Filter")
                            .Icon("fa fa-undo")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )

                    </div>
                </div>
                <div class="box-body">
                    <div id="consolidatedTradeSettlementGrid" class="grid-container"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="loadpanel"></div>


@Html.Partial("_RetractSubmissionModal")

@section scripts
{
    <script src="~/Scripts/app/issd/tradeSettlement/index.js"></script>
}
