@model xDC.Domain.Web.ISSD.TradeSettlementForm.TsForm
@{
    ViewBag.Title = "Trade Settlement";
    ViewBag.Subtitle = "Approved Submitted Form";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div>
                        @(Html.DevExtreme().Button()
                                .Type(ButtonType.Back)
                                .StylingMode(ButtonStylingMode.Contained)
                                .OnClick(@<text> function(){ window.location = "@Url.Action("TradeSettlement", "Issd")"; } </text>)
                                )
                    </div>
                    <div id="printBtn"></div>
                </div>
                <div class="box-body">
                    <div class="dx-fieldset">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dx-field">
                                    <div class="dx-field-label">
                                        <strong>Settlement Date</strong>
                                    </div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().DateBoxFor(m => m.SettlementDate)
                                            .ID("tradesettlementDateBox")
                                            .StylingMode(EditorStylingMode.Filled)
                                            .DisplayFormat("dd/MM/yyyy")
                                            .ReadOnly(true))
                                    </div>
                                </div>
                                <div class="dx-field">
                                    <div class="dx-field-label">
                                        <strong>Currency</strong>
                                    </div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().TextBoxFor(m => m.Currency)
                                            .ID("currencySelectBox")
                                            .StylingMode(EditorStylingMode.Filled)
                                            .ReadOnly(true))
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>

                    <div class="dx-fieldset">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div class="dx-field-label" style="font-weight: bold">
                                        Opening Balance <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Data will pickup in 8:30am, 10:30am, 11:00am"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @if (Model.OpeningBalance.Any())
                                {
                                    foreach (var item in Model.OpeningBalance)
                                    {
                                        <div class="dx-field">
                                            <div class="dx-field-label">
                                                @item.Account
                                            </div>
                                            <div class="dx-field-value">
                                                @(Html.DevExtreme().NumberBox()
                                                    .Value((double)item.Amount)
                                                    .Format(x =>
                                                    {
                                                        x.Precision(2);
                                                        x.Type(Format.FixedPoint);
                                                    })
                                                    .StylingMode(EditorStylingMode.Filled)
                                                    .ReadOnly(true))
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="dx-field">
                                        <div class="dx-field-label" style="color: red">
                                            No Data found in EDW
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>

                    <div class="dx-fieldset">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dx-field">
                                    <div class="dx-field-label" style="font-weight: bold">Daily Trade Settlement</div>
                                </div>

                                <div id="tabpanel" style="background-color: white;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dx-fieldset">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dx-field">
                                    <div class="dx-field-label">
                                        <strong>Closing Balance</strong>
                                    </div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().NumberBoxFor(m => m.ClosingBalance)
                                            .Format(x =>
                                            {
                                                x.Precision(2);
                                                x.Type(Format.FixedPoint);
                                            })
                                            .ID("closingBalance")
                                            .StylingMode(EditorStylingMode.Filled)
                                            .ReadOnly(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<script type="text/html" id="dxPanelTitle">
    <div style="margin: 4px 0">
        <span style="font-size: small"><%= title %></span><span id="<%= titleId %>" style="float: right;"></span>
    </div>
</script>


@section scripts
{
    @Scripts.Render("~/bundles/issd/ts/view");
}