@model xDC_Web.Models.ViewInflowFundStatusForm

@{
    ViewBag.Title = "New Inflow Funds";
}


<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">
            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">

    <div class="row">
        <div class="col-md-12">
            <form id="inflowFundForm">
                <p style="float: right; margin-top: 10px">
                    <div style="display: inline-block">
                        @(Html.DevExtreme().Button()
                            .Type(ButtonType.Back)
                            .StylingMode(ButtonStylingMode.Contained)
                            .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Amsd")"; } </text>)
                            )
                    </div>
                    <div style="display: inline-block">
                        @(Html.DevExtreme().Button()
                            .ID("submitBtn")
                            .Text("Submit for Approval")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Contained)
                            )
                    </div>
                    <div style="display: inline-block">
                        @(Html.DevExtreme().Button()
                            .ID("saveAsDraftBtn")
                            .Text("Save as Draft")
                            .Type(ButtonType.Normal)
                            .StylingMode(ButtonStylingMode.Contained)
                            )
                    </div>
                </p>
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Preparer</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.PreparedBy)
                                            .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Prepared Date</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.PreparedDate)
                                            .ReadOnly(true))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Status</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.FormStatus)
                                            .ReadOnly(true))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                        <div id="inflowFundsGrid1"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section scripts
{
    <script src="~/Scripts/app/amsd/newInflowFundsForm.js"></script>
}