@model xDC_Web.Models.ViewInflowFundStatusForm

@{
    ViewBag.Title = "New Inflow Funds";
}


<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">
            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">

    <div class="row">
        <div class="col-md-12">
            <form id="inflowFundForm">
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-bottom: 10px;">
                            <div style="display: inline-block">
                                @(Html.DevExtreme().Button()
                                    .Type(ButtonType.Back)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Amsd")"; } </text>)
                                    )
                            </div>
                            <div style="display: inline-block">
                                @(Html.DevExtreme().Button()
                                    .ID("submitForApprovalBtn")
                                    .Text("Submit for Approval")
                                    .Type(ButtonType.Default)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                            </div>
                            <div style="display: inline-block">
                                @(Html.DevExtreme().Button()
                                    .ID("saveAsDraftBtn")
                                    .Text("Save as Draft")
                                    .Type(ButtonType.Normal)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-solid">
                            <div class="box-body">
                                <div id="inflowFundsGrid1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box box-solid">
                            <div class="box-body">
                                <div class="dx-fieldset">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Preparer</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.PreparedBy)
                                                .StylingMode(EditorStylingMode.Underlined)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Prepared Date</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.PreparedDate)
                                                .StylingMode(EditorStylingMode.Underlined)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Status</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.FormStatus)
                                                .StylingMode(EditorStylingMode.Underlined)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div id="selectApproverModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Select Approver</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="approverDropdown"></div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <div>
                    @(Html.DevExtreme().Button()
                        .ID("submitForApprovalModalBtn")
                        .Text("Submit for Approval")
                        .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                        )
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts
{
    <script src="~/Scripts/app/amsd/newInflowFundsForm.js"></script>
}