@using xDC_Web.Models
@{
    ViewBag.Title = "New Inflow Funds";
}


<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">
            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">

    <div class="row">
        <div class="col-md-12">
            <form id="inflowFundForm">
                <p style="float: right; margin-top: 10px">
                    <div style="display: inline-block">
                        @(Html.DevExtreme().Button()
                            .Text("Submit")
                            .Type(ButtonType.Default)
                            .UseSubmitBehavior(true)
                            .StylingMode(ButtonStylingMode.Contained)
                            )
                    </div>
                    <div style="display: inline-block">
                        @(Html.DevExtreme().Button()
                            .Text("Cancel")
                            .Type(ButtonType.Normal)
                            .StylingMode(ButtonStylingMode.Contained)
                            .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Amsd")"; } </text>)
                            )
                    </div>
                </p>
                <div class="box box-solid">
                    <div class="box-body">
                        <div id="inflowFundsGrid1"></div>
                    </div>
                </div>
                <p style="float: right; margin-top: 10px">
                    <div style="display: inline-block">
                        @(Html.DevExtreme().Button()
                            .Text("Submit")
                            .Type(ButtonType.Default)
                            .UseSubmitBehavior(true)
                            .StylingMode(ButtonStylingMode.Contained)
                            )
                    </div>
                    <div style="display: inline-block">
                        @(Html.DevExtreme().Button()
                            .Text("Cancel")
                            .Type(ButtonType.Normal)
                            .StylingMode(ButtonStylingMode.Contained)
                            .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Amsd")"; } </text>)
                            )
                    </div>
                </p>
            </form>
        </div>
    </div>
</section>


@section scripts
{
    <script src="~/Scripts/app/amsd/newInflowFundsForm.js"></script>
}