@model xDC_Web.Models.MailMerge.AmsdInflowFundFormPreviewModel

@{
    ViewBag.Title = "View Inflow Funds";
}


<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
                <div>
                    @(Html.DevExtreme().Button()
                        .Type(ButtonType.Back)
                        .StylingMode(ButtonStylingMode.Contained)
                        .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Amsd")"; } </text>)
                        )
                </div>
                <div>
                    @(Html.DevExtreme().Button()
                        .Text("Approve")
                        .Icon("check")
                        .Type(ButtonType.Success)
                        .StylingMode(ButtonStylingMode.Contained)
                        )
                </div>
                <div>
                    @(Html.DevExtreme().Button()
                        .Text("Reject")
                        .Icon("remove")
                        .Type(ButtonType.Normal)
                        .StylingMode(ButtonStylingMode.Contained)
                        )
                </div>
                <div>
                    @(Html.DevExtreme().Button()
                        .Text("Admin Edit")
                        .Icon("edit")
                        .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                        )
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">
                <div>
                    @(Html.DevExtreme().DropDownButton()
                        .ID("PrintBtn")
                        .Text("Print")
                        .Icon("print")
                        .DropDownOptions(options => options.Width(230))
                        .StylingMode(ButtonStylingMode.Contained)
                        .DataSource(new List<string>()
                        {
                            "Excel Workbook (*.xlsx)",
                            "PDF"
                        })
                        .OnItemClick(@<text> function(e){ alert(e); }</text>)
                        )
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_viewInflowFundsForm", Model)
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Scripts/app/amsd/viewInflowFundsForm.js"></script>
}