@using xDC.Utils
@using xDC_Web.Extension
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@HttpContext.Current.Application["AppName"]</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill/dist/dx-quill.min.js"></script> *@

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="~/" class="logo">
                <span class="logo-mini"><img src="~/Content/images/kwap_logo_sm.svg" width="40" alt="KWAP" /></span>
                <span class="logo-lg"><img src="~/Content/images/kwap_logo_lg.svg" width="110" alt="KWAP" /></span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Logoff", "Login", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="nav navbar-nav">
                                
                                @if (!Config.IsLive)
                                {
                                    <li class="dropdown notifications-menu">
                                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                            <span>UAT Environment</span>
                                        </a>
                                    </li>
                                    
                                }

                                <li class="dropdown notifications-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-bell-o"></i>
                                        <span id="notifyBellCount"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="header text-center">Notifications</li>
                                        <li>
                                            <ul class="menu" id="notificationDropdown">
                                                <script type="text/html" id="notificationDropdownItemTemplate">
                                                    <li style="margin: 2px 0">
                                                        <a href="<%= notificationUrl %>" style="padding: 0">
                                                            <span style="display: block; margin-bottom: 2px; font-size: 15px;">
                                                                <i class="<%= notificationIconClass %>" style="font-size: 10px"></i> <%= title %>
                                                            </span>

                                                            <span style="display: block; font-size: smaller; color: #7F8C8D; margin-left: 18px">
                                                                <%= moment(createdOn).fromNow() %>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </script>
                                            </ul>
                                        </li>
                                        <li class="footer">
                                            <div class="footer-item">
                                                <a href="@Url.Action("Notification", "User")">See all</a>
                                            </div>
                                            <div class="footer-item" style="float: right">
                                                <a id="dismissNotificationBtn">Dismiss</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>


                                <li class="dropdown user user-menu">
                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="~/Content/images/profile.png" class="user-image" alt="User Image">
                                        <span class="hidden-xs"><i class="fa fa-caret-down"></i></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-header">
                                            @xDC_HtmlHelper.LoggedInUser()
                                        </li>

                                        <li class="dropdown-item"><a><i class="fa fa-cog"></i> User Settings</a></li>
                                        <li class="dropdown-item"><a href="#" onclick="app.clearUserPreference();return false;"><i class="fa fa-refresh"></i> Clear User Pref.</a></li>
                                        <li class="dropdown-item">
                                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Sign Out</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        }
                    }

                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree" data-animation-speed="100">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-desktop"></i> <span>Dashboard</span></a></li>
                    @if (MenuSecurity.AmsdMenu)
                    {
                        <li><a href="@Url.Action("Index", "Amsd")"><i class="fa fa-circle-thin"></i> <span>AMSD</span></a></li>
                    }
                    @if (MenuSecurity.IssdMenu)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-thin"></i> <span>ISSD</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("TradeSettlement","Issd")"><i class="fa fa-circle-thin"></i> <span>Trade Settlement</span></a></li>
                                <li><a href="@Url.Action("FcaTagging", "Issd")"><i class="fa fa-circle-thin"></i> <span>FCA Tagging</span></a></li>
                            </ul>
                        </li>
                    }
                    @if (MenuSecurity.FidMenu)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-thin"></i> <span>FID</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("FcaTagging", "Fid")"><i class="fa fa-circle-thin"></i> <span>FCA Tagging</span></a></li>
                                <li><a href="@Url.Action("Treasury", "Fid")"><i class="fa fa-circle-thin"></i> <span>Treasury</span></a></li>
                            </ul>
                        </li>
                    }
                    @if (MenuSecurity.FidMenu || MenuSecurity.IssdMenu)
                    {
                        <li><a href="@Url.Action("Index", "TenAmDealCutOff")"><i class="fa fa-circle-thin"></i> <span>10am Deal Cut Off</span></a></li>
                        <li><a href="@Url.Action("DealCutOffMyr", "DealCutOff")"><i class="fa fa-circle-thin"></i> <span>Deal Cut Off (MYR)</span></a></li>
                        <li><a href="@Url.Action("DealCutOffFcy", "DealCutOff")"><i class="fa fa-circle-thin"></i> <span>Deal Cut Off (FCY)</span></a></li>
                    }
                    @if (MenuSecurity.PowerUsersMenu)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-sliders"></i> <span>Settings</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("DropdownConfig","Setting")"><i class="fa fa-circle-thin"></i> <span>Dropdown</span></a></li>
                                <li><a href="@Url.Action("NotificationConfig","Setting")"><i class="fa fa-circle-thin"></i> <span>Notification</span></a></li>
                                <li><a href="@Url.Action("ApproverManagement","Setting")"><i class="fa fa-circle-thin"></i> <span>Approver</span></a></li>
                            </ul>
                        </li>
                    }
                    @if (MenuSecurity.PowerUsersMenu)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-search"></i> <span>Audit</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Form","Audit")"><i class="fa fa-circle-thin"></i> <span>Forms</span></a></li>
                            </ul>
                        </li>
                    }
                    @if (MenuSecurity.AdminOnlyMenu)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-user-md"></i> <span>Administration</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("UserManagement","Admin")"><i class="fa fa-circle-thin"></i> <span>Users</span></a></li>
                                <li><a href="@Url.Action("ApplicationConfig","Admin")"><i class="fa fa-circle-thin"></i> <span>Application Config</span></a></li>
                                <li><a href="@Url.Action("Utility","Admin")"><i class="fa fa-circle-thin"></i> <span>Utility</span></a></li>
                                <li><a href="~/hangfire"><i class="fa fa-circle-thin"></i> <span>Task Scheduler</span></a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </section>
        </aside>
        
        <div id="pageContent" class="content-wrapper">
            
            @Html.Partial("_PageTitle")

            <section class="content-header content-alert">
                <div id="error_container"></div>
            </section>

            @RenderBody()

            <span id="toast-container" style="position: fixed;bottom: 60px;right: 10px;"></span>
        </div>

        <footer class="main-footer clearfix">
            <div class="pull-left">
                
            </div>
            <div class="pull-right hidden-xs">
                <a class="label label-default">v @HttpContext.Current.Application["Version"]</a>
            </div>
        </footer>
    </div>
    
    <div id="loadpanel"></div>

    @RenderSection("scripts", required: false)

    <script>

        window.currentUser = "@HttpContext.Current.User.Identity.Name";

        $(function () {
            DevExpress.setTemplateEngine("underscore");

            var $loadPanel;
            var $notificationBell = $('#notifyBellCount');
            var $notificationDropdown = $("#notificationDropdown");
            var $notificationDropdownItemTemplate = $("#notificationDropdownItemTemplate");
            var $dismissNotificationBtn = $("#dismissNotificationBtn");
            
            $notificationDropdown.dxList({
                dataSource: new DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: window.location.origin + "/api/common/GetMyNotification",
                    deleteUrl: window.location.origin + "/api/common/DeleteMyNotification"
                }),
                itemTemplate: $notificationDropdownItemTemplate,
                allowItemDeleting: true,
                itemDeleteMode: "static",
                noDataText: "No notification...",
                onItemDeleted: function (e) {
                    if ($notificationBell.text() == "" || $notificationBell.text() == "0" || $notificationBell.text() == "1") {
                        $notificationBell.removeClass("label label-danger").text("");
                    }
                    else {
                        var notifyCount = parseInt($notificationBell.text());
                        $notificationBell.text(notifyCount - 1);
                    }

                    // sync with notification page
                    if ($('#notificationList').length) {
                        $("#notificationList").dxList("instance").reload();
                    }
                },
                onItemRendered: function(e) {
                    $notificationBell.addClass("label label-danger").text(e.itemIndex + 1);
                }
            }).dxList("instance");

            $dismissNotificationBtn.on('click', function (e) {
                if ($notificationDropdown.dxList("instance").getDataSource().items().length > 0) {
                    $.ajax({
                            dataType: 'json',
                            url: window.location.origin + '/api/common/ClearMyNotification',
                            method: 'post'
                        }).done(function(data) {
                            $notificationBell.removeClass("label label-danger").text("");

                            // sync with notification page
                            if ($('#notificationList').length) {
                                $("#notificationList").dxList("instance").reload();
                            }
                        })
                        .fail(function(jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        });
                }
            });

            $loadPanel = $("#loadpanel").dxLoadPanel({
                shadingColor: "rgba(0,0,0,0.4)",
                visible: false,
                showIndicator: true,
                showPane: true,
                shading: true,
                closeOnOutsideClick: false
            }).dxLoadPanel("instance");
        });

    </script>
</body>

</html>