@model xDC_Web.Models.InflowFundStatusFormVM

@{
    ViewBag.Title = "Inflow Fund";
    ViewBag.Subtitle = "Edit";
}

<section class="content container-fluid">
    <form id="inflowFundForm">
        <div class="row" id="formContainer">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        @(Html.DevExtreme().Button()
                            .Type(ButtonType.Back)
                            .StylingMode(ButtonStylingMode.Contained)
                            .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Amsd")"; } </text>)
                            )

                        @if (!Model.EnableAdminEditBtn)
                        {
                            <div style="display: inline-block; margin-right: 3px">
                                @(Html.DevExtreme().Button()
                                    .ID("submitForApprovalBtn")
                                    .Text("Submit for Approval")
                                    .Icon("todo")
                                    .Type(ButtonType.Default)
                                    .StylingMode(ButtonStylingMode.Contained)
                                        )
                            </div>

                            if (Model.EnableSaveAsDraftBtn)
                            {
                                <div style="display: inline-block; margin-right: 3px">
                                    @(Html.DevExtreme().Button()
                                        .ID("saveAsDraftBtn")
                                        .Text("Save")
                                        .Icon("save")
                                        .Type(ButtonType.Normal)
                                        .StylingMode(ButtonStylingMode.Contained)
                                        )
                                </div>
                            }
                        }
                        @if (Model.EnableAdminEditBtn)
                        {
                            <div style="display: inline-block; margin-right: 3px">
                                @(Html.DevExtreme().Button()
                                    .ID("adminEditSaveChangesBtn")
                                    .Text("Save")
                                    .Icon("save")
                                    .Type(ButtonType.Default)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                            </div>
                        }
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="dx-field">
                                    <div class="dx-field-label">Status</div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().TextBoxFor(m => m.FormStatus)
                                            .StylingMode(EditorStylingMode.Filled)
                                            .ReadOnly(true))
                                    </div>
                                </div>
                                <div class="dx-field">
                                    <div class="dx-field-label">Preparer</div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().TextBoxFor(m => m.PreparedBy)
                                            .StylingMode(EditorStylingMode.Filled)
                                            .ReadOnly(true))
                                    </div>
                                </div>
                                <div class="dx-field">
                                    <div class="dx-field-label">Prepared Date</div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().DateBoxFor(m => m.PreparedDate)
                                            .StylingMode(EditorStylingMode.Filled)
                                            .DisplayFormat("dd/MM/yyyy hh:mm a")
                                            .ReadOnly(true))
                                    </div>
                                </div>
                                @if (Model.IsApproved)
                                {
                                    <div class="dx-field">
                                        <div class="dx-field-label">Approved By</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.ApprovedBy)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Approved Date</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.ApprovedDate)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Approval/Rejection Notes</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextAreaFor(m => m.ApprovalOrRejectionNotes)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                }
                                @if (Model.IsAdminEdited)
                                {
                                    <div style="background-color: #FFEBEE; padding: 5px 0">
                                        <div class="dx-field">
                                            <div class="dx-field-label text-red">Admin Edited By</div>
                                            <div class="dx-field-value">
                                                @(Html.DevExtreme().TextBoxFor(m => m.AdminEditedBy)
                                                    .StylingMode(EditorStylingMode.Filled)
                                                    .ReadOnly(true))
                                            </div>
                                        </div>
                                        <div class="dx-field">
                                            <div class="dx-field-label text-red">Admin Edited Date</div>
                                            <div class="dx-field-value">
                                                @(Html.DevExtreme().DateBoxFor(m => m.AdminEditedDate)
                                                    .StylingMode(EditorStylingMode.Filled)
                                                    .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                    .ReadOnly(true))
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="inflowFundsGrid1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@Html.Partial("_SelectApproverModal")

@section scripts
{
    <script src="~/Scripts/app/amsd/inflowFund/edit.js"></script>
}