@model xDC.Domain.Web.AMSD.InflowFundForm.InflowFundForm

@{
    ViewBag.Title = "Inflow Fund";
    ViewBag.Subtitle = "New";
}

<section class="content container-fluid">
    <form id="inflowFundForm">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        @(Html.DevExtreme().Button()
                            .Type(ButtonType.Back)
                            .StylingMode(ButtonStylingMode.Contained)
                            .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Amsd")"; } </text>)
                            )
                        @(Html.DevExtreme().Button()
                                .ID("submitForApprovalBtn")
                                .Text("Submit for Approval")
                                .Icon("todo")
                                .UseSubmitBehavior(true)
                                .Type(ButtonType.Default)
                                .StylingMode(ButtonStylingMode.Contained)
                                )
                        @(Html.DevExtreme().Button()
                                .ID("saveAsDraftBtn")
                                .Text("Save")
                                .Icon("save")
                                .UseSubmitBehavior(true)
                                .Type(ButtonType.Normal)
                                .StylingMode(ButtonStylingMode.Contained)
                                )
                    </div>
                    <div class="box-body">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="dx-field">
                                    <div class="dx-field-label">Status</div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().TextBoxFor(m => m.FormStatus)
                                            .StylingMode(EditorStylingMode.Filled)
                                            .ReadOnly(true))
                                    </div>
                                </div>
                                <div class="dx-field">
                                    <div class="dx-field-label">Preparer</div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().TextBoxFor(m => m.PreparedBy)
                                            .StylingMode(EditorStylingMode.Filled)
                                            .ReadOnly(true))
                                    </div>
                                </div>
                                <div class="dx-field">
                                    <div class="dx-field-label">Prepared Date</div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().DateBoxFor(m => m.PreparedDate)
                                            .StylingMode(EditorStylingMode.Filled)
                                            .DisplayFormat("dd/MM/yyyy hh:mm a")
                                            .ReadOnly(true))
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="inflowFundsGrid1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@Html.Partial("_SelectApproverModal")

@section scripts
{
    @Scripts.Render("~/bundles/amsd/inflowFund/new")
}