@model xDC.Domain.Web.ISSD.TradeSettlementForm.TsForm
@{
    ViewBag.NewTitle = "Trade Settlement";
    ViewBag.Subtitle = "Part B - Bond, CP, Notes & Papers, Coupon";
}

<section class="content container-fluid">
    <form id="tradeSettlementForm">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        @(Html.DevExtreme().Button()
                                    .Type(ButtonType.Back)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    .OnClick(@<text> function(){ window.location = "@Url.Action("TradeSettlement", "Issd")"; } </text>)
                                    )
                        @(Html.DevExtreme().Button()
                                    .ID("submitForApprovalBtn")
                                    .Text("Submit for Approval")
                                    .Icon("todo")
                                    .UseSubmitBehavior(true)
                                    .Type(ButtonType.Default)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                        @(Html.DevExtreme().Button()
                                    .ID("saveAsDraftBtn")
                                    .Text("Save")
                                    .Icon("save")
                                    .UseSubmitBehavior(true)
                                    .Type(ButtonType.Normal)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                    </div>
                    <div class="box-body">
                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Settlement Date</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            <div id="settlementDateBox"></div>
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Currency</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            <div id="currencySelectBox"></div>
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>DW data availability</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            <div id="edwAvailable"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Status</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.FormStatus)
                                                        .StylingMode(EditorStylingMode.Filled)
                                                        .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Preparer</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.PreparedBy)
                                                        .StylingMode(EditorStylingMode.Filled)
                                                        .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Prepared Date</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.PreparedDate)
                                                        .StylingMode(EditorStylingMode.Filled)
                                                        .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                        .ReadOnly(true))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <div class="dx-field-label" style="font-weight: bold">Daily Trade Settlement</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="tabpanel-container" style="background-color: white;">
                                        <div data-options="dxTemplate : { name: 'bondTab' }" style="padding-top: 10px; overflow: auto">

                                            <div id="bondGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                        <div data-options="dxTemplate : { name: 'cpTab' }" style="padding-top: 10px; overflow: auto">

                                            <div id="cpGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                        <div data-options="dxTemplate : { name: 'notesPaperTab' }" style="padding-top: 10px; overflow: auto">

                                            <div id="notesPaperGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                        <div data-options="dxTemplate : { name: 'repoTab' }" style="padding-top: 10px; overflow: auto">

                                            <div id="repoGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                        <div data-options="dxTemplate : { name: 'couponReceivedTab' }" style="padding-top: 10px; overflow: auto">

                                            <div id="couponGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@Html.Partial("_SelectApproverModal")

<script type="text/html" id="dxPanelTitle">
    <div style="margin: 4px 0">
        <span style="font-size: small"><%= title %></span><span id="<%= titleId %>" style="float: right;"></span>
    </div>
</script>

@section scripts
{
    <script src="~/Scripts/app/issd/tradeSettlement.js"></script>
    <script src="~/Scripts/app/issd/tradeSettlement/partB/new.js"></script>
}