@{
    ViewBag.Title = "New Trade Settlement";
}


<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">
            </div>
        </div>
    </div>
</section>


<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form id="tradeSettlementForm">
                <div class="box box-primary" id="amsd-form">
                    <div class="box-header">
                        <p style="float: right; margin-top: 10px">
                            <div style="display: inline-block">
                                @(Html.DevExtreme().Button()
                                    .UseSubmitBehavior(true)
                                    .Text("Submit")
                                    .Type(ButtonType.Default)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                            </div>
                            <div style="display: inline-block">
                                @(Html.DevExtreme().Button()
                                .Text("Cancel")
                                .Type(ButtonType.Normal)
                                .StylingMode(ButtonStylingMode.Contained)
                                .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Iisd")"; } </text>)
                                )
                            </div>
                        </p>

                    </div>

                    <div class="box-body">
                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Currency</div>
                                        <div class="dx-field-value">
                                            <div id="currencySelectBox"></div>
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label" style="font-weight: bold">Opening Balance</div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Rentas</div>
                                        <div class="dx-field-value">
                                            <div id="obRentasTb"></div>
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">MMA</div>
                                        <div class="dx-field-value">
                                            <div id="obMmaTb"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8"></div>
                            </div>
                        </div>
                        
                        <div class="dx-field">
                            <div class="dx-field-label" style="font-weight: bold">Daily Trade Settlement</div>
                        </div>

                        <div id="tabpanel-container" style="background-color: white;">
                            <div data-options="dxTemplate : { name: 'equityTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="equityGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'bondTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="bondGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'cpTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="cpGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'notesPaperTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="notesPaperGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'repoTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="repoGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'couponReceivedTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="couponGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'feesTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="feesGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'mtmTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="mtmGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'fxSettlementTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="fxSettlementGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'contributionCreditedTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="contributionCreditedGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'altidTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="altidGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                            <div data-options="dxTemplate : { name: 'othersTab' }" style="padding-top: 10px; overflow: auto">

                                <div id="othersGrid" class="grid-container" style="width: 100%"></div>
                            </div>
                        </div>

                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label" style="font-weight: bold">Closing Balance</div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Rentas</div>
                                        <div class="dx-field-value">
                                            <div id="cbRentasTb"></div>
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">MMA</div>
                                        <div class="dx-field-value">
                                            <div id="cbMmaTb"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8"></div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer clearfix no-border">
                        <p style="float: right; margin-top: 10px">
                            <div style="display: inline-block">
                                @(Html.DevExtreme().Button()
                                    .UseSubmitBehavior(true)
                                    .Text("Submit")
                                    .Type(ButtonType.Default)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                            </div>
                            <div style="display: inline-block">
                                @(Html.DevExtreme().Button()
                                .Text("Cancel")
                                .Type(ButtonType.Normal)
                                .StylingMode(ButtonStylingMode.Contained)
                                .OnClick(@<text> function(){ window.location = "@Url.Action("Index", "Iisd")"; } </text>)
                                )
                            </div>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section scripts
{
    <script src="~/Scripts/app/iisd/newTradeSettlement.js"></script>
}