@model xDC.Domain.Web.ISSD.TradeSettlementForm.TsForm
@{
    ViewBag.EditTitle = "Trade Settlement";
    ViewBag.Subtitle = "Part D - Payment/Receipt MTM, FX Settlement";
}

<section class="content container-fluid">
    <form id="tradeSettlementForm">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header">
                        @(Html.DevExtreme().Button()
                            .Type(ButtonType.Back)
                            .StylingMode(ButtonStylingMode.Contained)
                            .OnClick(@<text> function(){ window.location = "@Url.Action("TradeSettlement", "Issd")"; } </text>)
                            )

                        @if (Model.EnableSubmitForApproval)
                        {
                            @(Html.DevExtreme().Button()
                                .ID("submitForApprovalBtn")
                                .Text("Submit for Approval")
                                .Icon("todo")
                                .UseSubmitBehavior(true)
                                .Type(ButtonType.Default)
                                .StylingMode(ButtonStylingMode.Contained)
                                )
                        }

                        @if (Model.EnableResubmit)
                        {
                            @(Html.DevExtreme().Button()
                                .ID("submitForApprovalBtn")
                                .Icon("fa fa-repeat")
                                .Text("Resubmit")
                                .UseSubmitBehavior(true)
                                .Type(ButtonType.Default)
                                .StylingMode(ButtonStylingMode.Contained)
                                )
                        }

                        @if (Model.EnableDraftButton)
                        {
                            @(Html.DevExtreme().Button()
                                .ID("saveAsDraftBtn")
                                .Text("Save as Draft")
                                .Icon("save")
                                .UseSubmitBehavior(true)
                                .Type(ButtonType.Normal)
                                .StylingMode(ButtonStylingMode.Contained)
                                )
                        }

                        @if (Model.EnableSaveAdminChanges)
                        {
                            @(Html.DevExtreme().Button()
                                .ID("adminEditSaveChangesBtn")
                                .Text("Save")
                                .Icon("save")
                                .UseSubmitBehavior(true)
                                .Type(ButtonType.Danger)
                                .StylingMode(ButtonStylingMode.Contained)
                                )
                        }
                    </div>
                    <div class="box-body">
                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Settlement Date</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.SettlementDate)
                                                        .ID("settlementDateBox")
                                                        .DisplayFormat("dd/MM/yyyy")
                                                        .StylingMode(EditorStylingMode.Filled)
                                                        .ReadOnly(true)
                                                        )
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Currency</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.Currency)
                                                        .ID("currencySelectBox")
                                                        .StylingMode(EditorStylingMode.Filled)
                                                        .ReadOnly(true)
                                                        )
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">Status</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.FormStatus)
                                                    .StylingMode(EditorStylingMode.Filled)
                                                    .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Preparer</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.PreparedBy)
                                                    .StylingMode(EditorStylingMode.Filled)
                                                    .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">Prepared Date</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.PreparedDate)
                                                    .StylingMode(EditorStylingMode.Filled)
                                                    .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                    .ReadOnly(true))
                                        </div>
                                    </div>
                                    @if (Model.IsApproved)
                                    {
                                        <div class="dx-field">
                                            <div class="dx-field-label">Approved By</div>
                                            <div class="dx-field-value">
                                                @(Html.DevExtreme().TextBoxFor(m => m.ApprovedBy)
                                                        .StylingMode(EditorStylingMode.Filled)
                                                        .ReadOnly(true))
                                            </div>
                                        </div>
                                        <div class="dx-field">
                                            <div class="dx-field-label">Approved Date</div>
                                            <div class="dx-field-value">
                                                @(Html.DevExtreme().DateBoxFor(m => m.ApprovedDate)
                                                        .StylingMode(EditorStylingMode.Filled)
                                                        .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                        .ReadOnly(true))
                                            </div>
                                        </div>
                                        <div class="dx-field">
                                            <div class="dx-field-label">Approval/Rejection Notes</div>
                                            <div class="dx-field-value">
                                                @(Html.DevExtreme().TextAreaFor(m => m.ApprovalNote)
                                                        .StylingMode(EditorStylingMode.Filled)
                                                        .ReadOnly(true))
                                            </div>
                                        </div>
                                    }

                                    @if (Model.IsAdminEdited)
                                    {
                                        <div style="background: #FFEBEE; padding: 5px 0">
                                            <div class="dx-fieldset">
                                                <div class="dx-field">
                                                    <div class="dx-field-label text-red">Admin Edited By</div>
                                                    <div class="dx-field-value">
                                                        @(Html.DevExtreme().TextBoxFor(m => m.AdminEditedBy)
                                                            .StylingMode(EditorStylingMode.Filled)
                                                            .ReadOnly(true))
                                                    </div>
                                                </div>
                                                <div class="dx-field">
                                                    <div class="dx-field-label text-red">Admin Edited Date</div>
                                                    <div class="dx-field-value">
                                                        @(Html.DevExtreme().DateBoxFor(m => m.AdminEditedDate)
                                                            .StylingMode(EditorStylingMode.Filled)
                                                            .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                            .ReadOnly(true))
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <div class="dx-field-label" style="font-weight: bold">Daily Trade Settlement</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="tabpanel-container" style="background-color: white;">
                                        <div data-options="dxTemplate : { name: 'mtmTab' }" style="padding-top: 10px; overflow: auto">
                                            <div id="mtmGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                        <div data-options="dxTemplate : { name: 'fxSettlementTab' }" style="padding-top: 10px; overflow: auto">
                                            <div id="fxSettlementGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

@Html.Partial("_SelectApproverModal")

<script type="text/html" id="dxPanelTitle">
    <div style="margin: 4px 0">
        <span style="font-size: small"><%= title %></span><span id="<%= titleId %>" style="float: right;"></span>
    </div>
</script>

@section scripts
{
    @Scripts.Render("~/bundles/issd/ts/partD/edit");
}