@model xDC.Domain.Web.ISSD.TradeSettlementForm.TsForm

@{
    ViewBag.Title = "Trade Settlement";
    ViewBag.Subtitle = "Part D - Payment/Receipt MTM, FX Settlement";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            @xDC_HtmlHelper.WorkflowStepper(Model.FormStatus)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="left-container">
                        @(Html.DevExtreme().Button()
                            .Type(ButtonType.Back)
                            .StylingMode(ButtonStylingMode.Contained)
                            .OnClick(@<text> function(){ window.location = "@Url.Action("TradeSettlement", "Issd")"; } </text>)
                            )

                        @if (Model.EnableApproveRejectBtn)
                        {
                            @(Html.DevExtreme().Button()
                                .ID("approveBtn")
                                .Text("Approve")
                                .Icon("check")
                                .Type(ButtonType.Success)
                                .StylingMode(ButtonStylingMode.Contained)
                                )

                            <div style="display: inline-block"></div>

                            @(Html.DevExtreme().Button()
                                .ID("rejectBtn")
                                .Text("Reject")
                                .Icon("remove")
                                .Type(ButtonType.Danger)
                                .StylingMode(ButtonStylingMode.Contained)
                                )
                        }

                        @if (Model.EnableReassign)
                        {
                            @(Html.DevExtreme().Button()
                                .ID("reassignBtn")
                                .Text("Reassign Approval")
                                .Icon("fa fa-random")
                                .Type(ButtonType.Default)
                                .StylingMode(ButtonStylingMode.Contained)
                                )
                        }


                    </div>

                    <div class="right-container pull-right">
                        @(Html.DevExtreme().Button()
                            .ID("viewWorkflowBtn")
                            .Text("Workflow Information")
                            .Icon("detailslayout")
                            .Type(ButtonType.Normal)
                            .StylingMode(ButtonStylingMode.Contained)
                            )

                        @(Html.DevExtreme().Button()
                            .ID("viewAuditTrailBtn")
                            .Text("Audit Trail")
                            .Icon("checklist")
                            .Type(ButtonType.Normal)
                            .StylingMode(ButtonStylingMode.Contained)
                            )

                        <div id="printBtn"></div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dx-field">
                                <div class="dx-field-label">
                                    <strong>Settlement Date</strong>
                                </div>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().DateBoxFor(m => m.SettlementDate)
                                        .ID("tradesettlementDateBox")
                                        .StylingMode(EditorStylingMode.Filled)
                                        .DisplayFormat("dd/MM/yyyy")
                                        .ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">
                                    <strong>Currency</strong>
                                </div>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(m => m.Currency)
                                        .ID("currencySelectBox")
                                        .StylingMode(EditorStylingMode.Filled)
                                        .ReadOnly(true))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="dx-field">
                                <div class="dx-field-label">Status</div>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(m => m.FormStatus)
                                        .StylingMode(EditorStylingMode.Filled)
                                        .ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Preparer</div>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(m => m.PreparedBy)
                                        .StylingMode(EditorStylingMode.Filled)
                                        .ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Prepared Date</div>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().DateBoxFor(m => m.PreparedDate)
                                        .StylingMode(EditorStylingMode.Filled)
                                        .DisplayFormat("dd/MM/yyyy hh:mm a")
                                        .ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Approver</div>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().TextBoxFor(m => m.ApprovedBy)
                                        .StylingMode(EditorStylingMode.Filled)
                                        .ReadOnly(true))
                                </div>
                            </div>
                            <div class="dx-field">
                                <div class="dx-field-label">Approved Date</div>
                                <div class="dx-field-value">
                                    @(Html.DevExtreme().DateBoxFor(m => m.ApprovedDate)
                                        .StylingMode(EditorStylingMode.Filled)
                                        .DisplayFormat("dd/MM/yyyy hh:mm a")
                                        .ReadOnly(true))
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ApprovalNote))
                            {
                                <div class="dx-field">
                                    <div class="dx-field-label">Approval/Rejection Notes</div>
                                    <div class="dx-field-value">
                                        @(Html.DevExtreme().TextAreaFor(m => m.ApprovalNote)
                                            .StylingMode(EditorStylingMode.Filled)
                                            .ReadOnly(true))
                                    </div>
                                </div>
                            }
                            @if (Model.IsAdminEdited)
                            {
                                <div style="background: #FFEBEE; padding: 5px 0">
                                    <div class="dx-field">
                                        <div class="dx-field-label text-red">Admin Edited By</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.AdminEditedBy)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label text-red">Admin Edited Date</div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.AdminEditedDate)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="dx-field">
                                <div class="dx-field-label" style="font-weight: bold">Daily Trade Settlement</div>
                            </div>

                            <div id="tabpanel-container" style="background-color: white;">
                                <div data-options="dxTemplate : { name: 'mtmTab' }" style="padding-top: 10px; overflow: auto">
                                    <div id="mtmGrid" class="grid-container" style="width: 100%"></div>
                                </div>
                                <div data-options="dxTemplate : { name: 'fxSettlementTab' }" style="padding-top: 10px; overflow: auto">
                                    <div id="fxSettlementGrid" class="grid-container" style="width: 100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


@Html.Partial("_ApprovalModal")
@Html.Partial("_RejectionModal")

@Html.Partial("_WorkflowInfoModal")
@Html.Partial("_ApprovalReassignModal")
@Html.Partial("_AuditTrailModal")

<script type="text/html" id="dxPanelTitle">
    <div style="margin: 4px 0">
        <span style="font-size: small"><%= title %></span><span id="<%= titleId %>" style="float: right;"></span>
    </div>
</script>


@section scripts
{
    @Scripts.Render("~/bundles/issd/ts/partD/view");
}