
@{
    ViewBag.Title = "FID";
    ViewBag.Subtitle = "Treasury";
}

<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
                <div>
                    @if (xDC_Web.Extension.MenuSecurity.IsAuthenticatedAndAllowed(xDC.Utils.Common.PermissionKey.FID_TreasuryForm_Edit))
                    {
                        @(Html.DevExtreme().Button()
                        .Type(ButtonType.Default)
                        .Icon("plus")
                        .Text("New Treasury Form")
                        .StylingMode(ButtonStylingMode.Contained)
                        .OnClick(@<text> function(){ window.location = "@Url.Action("TreasuryNew", "Fid")"; } </text>)
                        )
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">

            </div>
        </div>
    </div>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <h3 class="box-title">Treasury Forms</h3>
                    <div class="box-tools">
                        @(Html.DevExtreme().Button()
                            .ID("todaySubmissionBtn")
                            .Icon("fa fa-calendar-o")
                            .Text("Todays' Submission")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("mySubmissionBtn")
                            .Icon("fa fa-user")
                            .Text("My Submission")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("pendingMyApprovalBtn")
                            .Icon("fa fa-clock-o")
                            .Text("Pending My Approval")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("clearFilterBtn")
                            .Icon("fa fa-undo")
                            .Text("Clear Filter")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                    </div>
                </div>
                <div class="box-body">
                    <div id="grid1"></div>
                </div>
            </div>
        </div>
    </div>
</section>


@Html.Partial("_RetractSubmissionModal")

@section scripts
{
    <script src="~/Scripts/app/fid/treasury/index.js"></script>
}

