@model xDC.Domain.Web.FID.TreasuryForm.TreasuryFormPage
@{
    ViewBag.Title = "Treasury";
    ViewBag.Subtitle = "View";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            @xDC_HtmlHelper.WorkflowStepper(Model.FormStatus)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="treasuryForm">
                <div class="box box-solid">
                    <div class="box-header">
                        <div class="left-container">
                            @(Html.DevExtreme().Button()
                                .Type(ButtonType.Back)
                                .StylingMode(ButtonStylingMode.Contained)
                                .OnClick(@<text> function(){ window.location = "@Url.Action("Treasury", "Fid")"; } </text>)
                                )
                            @if (Model.EnableEditDraftBtn)
                            {
                                @(Html.DevExtreme().Button()
                                    .ID("editDraftBtn")
                                    .Text("Edit Form")
                                    .Icon("edit")
                                    .Type(ButtonType.Normal)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                            }
                            @if (Model.EnableApproveRejectBtn)
                            {
                                @(Html.DevExtreme().Button()
                                    .ID("approveBtn")
                                    .Text("Approve")
                                    .Icon("check")
                                    .Type(ButtonType.Success)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                                <span style="margin-left: 2px"></span>
                                @(Html.DevExtreme().Button()
                                    .ID("rejectBtn")
                                    .Text("Reject")
                                    .Icon("remove")
                                    .Type(ButtonType.Danger)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                            }
                            @if (Model.EnableReassign)
                            {
                                @(Html.DevExtreme().Button()
                                    .ID("reassignBtn")
                                    .Text("Reassign Approval")
                                    .Icon("fa fa-random")
                                    .Type(ButtonType.Default)
                                    .StylingMode(ButtonStylingMode.Contained)
                                    )
                            }

                        </div>
                        <div class="right-container pull-right">
                            <div id="viewWorkflowBtn"></div>
                            @(Html.DevExtreme().Button()
                                .ID("viewAuditTrailBtn")
                                .Text("Audit Trail")
                                .Icon("checklist")
                                .Type(ButtonType.Normal)
                                .StylingMode(ButtonStylingMode.Contained)
                                )

                            <div id="printBtn"></div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Value Date</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.ValueDate)
                                                .ID("valueDateDateBox")
                                                .StylingMode(EditorStylingMode.Filled)
                                                .DisplayFormat("dd/MM/yyyy")
                                                .ReadOnly(true)
                                                )
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Currency</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.Currency)
                                                .ID("currencySelectBox")
                                                .StylingMode(EditorStylingMode.Filled)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Status</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.FormStatus)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Preparer</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.PreparedBy)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Prepared Date</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.PreparedDate)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Approver</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().TextBoxFor(m => m.ApprovedBy)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    <div class="dx-field">
                                        <div class="dx-field-label">
                                            <strong>Approved Date</strong>
                                        </div>
                                        <div class="dx-field-value">
                                            @(Html.DevExtreme().DateBoxFor(m => m.ApprovedDate)
                                                .StylingMode(EditorStylingMode.Filled)
                                                .DisplayFormat("dd/MM/yyyy hh:mm a")
                                                .ReadOnly(true))
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(Model.ApprovalNotes))
                                    {
                                        <div class="dx-field">
                                            <div class="dx-field-label">
                                                <strong>Approval/Rejection Notes</strong>
                                            </div>
                                            <div class="dx-field-value">
                                                @(Html.DevExtreme().TextAreaFor(m => m.ApprovalNotes)
                                                    .StylingMode(EditorStylingMode.Filled)
                                                    .Height(60)
                                                    .ReadOnly(true))
                                            </div>
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>

                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <div class="dx-field-label" style="font-weight: bold">FUND INFLOWS</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="inflowTabpanel" style="background-color: white;">
                                        <div data-options="dxTemplate : { name: 'inflowDepositTab' }" style="padding-top: 10px; overflow: auto">
                                            <div id="inflowDepositGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                        <div data-options="dxTemplate : { name: 'inflowMmiTab' }" style="padding-top: 10px; overflow: auto">
                                            <div id="inflowMmiGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dx-fieldset">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dx-field">
                                        <div class="dx-field-label" style="font-weight: bold">FUND OUTFLOWS</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div id="outflowTabpanel" style="background-color: white;">
                                        <div data-options="dxTemplate : { name: 'outflowDepositTab' }" style="padding-top: 10px; overflow: auto">
                                            <div id="outflowDepositGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                        <div data-options="dxTemplate : { name: 'outflowMmiTab' }" style="padding-top: 10px; overflow: auto">
                                            <div id="outflowMmiGrid" class="grid-container" style="width: 100%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</section>

@Html.Partial("_ApprovalModal")
@Html.Partial("_RejectionModal")
@Html.Partial("_WorkflowInfoModal")
@Html.Partial("_ApprovalReassignModal")
@Html.Partial("_AuditTrailModal")

<script type="text/html" id="dxPanelTitle">
    <div style="margin: 4px 0">
        <span style="font-size: small"><%= title %></span><span id="<%= titleId %>" style="float: right;"></span>
    </div>
</script>

@section scripts
{
    <script src="~/Scripts/app/fid/treasury/treasury.js"></script>
    <script src="~/Scripts/app/fid/treasury/view.js"></script>
}