@model dynamic

@{
    ViewBag.Title = "ISSD FCA Tagging";
    ViewBag.Subtitle = "";
}


<section class="content-header content-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="left-container">
            </div>
        </div>
        <div class="col-md-6">
            <div id="right-toolbar-container" class="right-container">

            </div>
        </div>
    </div>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header">
                    <div class="box-title">
                        
                    </div>
                    <div class="box-tools pull-right">
                        @(Html.DevExtreme().Button()
                            .ID("showUsdBtn")
                            .Text("USD")
                            .Icon("fa fa-usd")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("showGbpBtn")
                            .Text("GBP")
                            .Icon("fa fa-gbp")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("showAudBtn")
                            .Text("AUD")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("showEurBtn")
                            .Text("EUR")
                            .Icon("fa fa-eur")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("showMyrBtn")
                            .Text("MYR")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("showTodayBtn")
                            .Icon("fa fa-calendar-o")
                            .Text("Show Today")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("showPendingAssignmentBtn")
                            .Icon("fa fa-clock-o")
                            .Text("Show Pending Assignment")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                        @(Html.DevExtreme().Button()
                            .ID("clearFilterBtn")
                            .Icon("fa fa-undo")
                            .Text("Clear Filter")
                            .UseSubmitBehavior(false)
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Outlined)
                            )
                    </div>
                </div>
                <div class="box-body">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts
{
    <script src="~/Scripts/app/issd/fcaTagging/index.js"></script>
}
